/*Body*/
[data-testid="stAppViewContainer"]{
    /*background-image:url("https://i.ibb.co/0GTS96m/theme3.jpg");
    background-size: cover;*/
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(65, 158, 167));
}
/*header*/

div.ezrtsby2{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 0px;
    padding: 5px;
    height: 145px;
    margin-bottom: 40px;
    background-color: #e0455f;
    background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
    
}

.profileImage {
    width: 138px; /* Adjust the width as needed */
    height: 138px;
    margin-right: 10px;
    border-radius: 50%;
    border:linear-gradient(to right, rgb(88, 221, 11), rgb(51, 139, 147));
    border-style: double;
    animation: flip 2s infinite;
}

.textContainer {
    margin-left: 5px;
    color: white;
}
.textContainer p {
    margin: 0;
    font-family: "Puppins";
    font-size: large;
}
div.st-emotion-cache-18ni7ap .ezrtsby2 {
    padding: 5px;
    margin-top: 15px;
    font-size: 18px;
}
.textContainer .title p{
     font-size: 24px;
     color:white;
     font-weight: bold;
  }
/*chat message AI*/

div.st-emotion-cache-4oy321.eeusbqq4 {
    background-color: white;
    border-radius: 20px;
    margin-top: 5px;
    animation: fade-in-right 2s ease-in-out both;

}

div.st-emotion-cache-4oy321.eeusbqq4 p {
    color: black;
    padding: 5px;
    font-family: "Times New Roman";
    font-size: 17px;
    

}

/*user message*/
div.st-emotion-cache-1c7y2kd.eeusbqq4 {
    align-self: flex-end;
    background: #D9FDD3;
    border-radius: 10px 3px 10px 10px;
    padding: 10px;
    max-width: 60%;
    margin-bottom: 0%;
    flex-direction: row-reverse;
    
}

div.st-emotion-cache-1c7y2kd.eeusbqq4 p {
    color: black;
    font-family: "Times New Roman";
    font-size: 17px;
}

/*AI shadow*/
div.st-emotion-cache-4oy321.eeusbqq4:hover {
    box-shadow: blue;


}
.profileImage:hover{
    transform: scale(1.1);
}
/*User Shadow*/
div.st-emotion-cache-1c7y2kd.eeusbqq4:hover {
    box-shadow: blue;}

/*AI messeges*/

div.eeusbqq2 {

    border-radius: 50%;

}

@keyframes fade-in-right {
    0% {
        transform: translate(-50%);
        opacity: 0;
    }

    100% {                                            
        transform: translate(0%);
        opacity: 1;
    }
}



@keyframes fade-in-left {
    0% {
        transform: translate(50%);
        opacity: 0;
    }

    100% {
        transform: translate(0%);
        opacity: 1;
    }

}
/*app Botom*/
div.st-emotion-cache-uhkwx6.ea3mdgi6{
    background:none;
    border-radius: 5px 5px;
}
div.st-emotion-cache-1up18o9.e1d2x3se2{
     color:linear-gradient(270deg, hsl(207, 65%, 70%), hsl(207, 100%, 50%));
}
.stAudio{
   width: 250px !important;
   background-color: white !important;
    
}
.textContainer .title p:hover{
    font-size: 25px;
    color: rgb(188, 12, 241);

}
